@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "../utils/global.css";

.wrapper-txtfld {
  display: flex;
  align-items: center;
}

.custom-txtfld {
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-color: var(--color3);
  margin-right: 0.5%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
