@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --color1: #3fd2c7;
  --color2: #99ddff;
  --color3: #00458b;
  --white: #ffffff;
}

.custom-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  transition-duration: 0.4s;
  color: var(--white);
}

.custom-btn:hover {
  background-color: var(--white);
  border: 1px solid;
}

.btn-color1 {
  background-color: var(--color1);
}

.btn-color1:hover {
  color: var(--color1);
  border-color: var(--color1);
}

.btn-color2 {
  background-color: var(--color2);
}

.btn-color2:hover {
  color: var(--color2);
  border-color: var(--color2);
}

.btn-color3 {
  background-color: var(--color3);
}

.btn-color3:hover {
  color: var(--color3);
  border-color: var(--color3);
}
