@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --color1: #3fd2c7;
  --color2: #99ddff;
  --color3: #00458b;
  --white: #ffffff;
}

.App {
  background-color: aqua;
}
